.App {
  width: 80%;
  text-align: center;
  margin-left: 80px;
  padding: 24px;
}
.container {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.images {
  width: 40%;
  margin: 20px;
  padding: 20px;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px !important;
  line-height: 1;
  opacity: 1 !important;
}

/* .slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
} */
