.App {
  text-align: center;

  padding: 24px;
}

.images {
  width: 70%;
  margin: 20px;
  padding: 20px;
}

/* .slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
} */
